@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/Outfit/Outfit-Light.ttf");
}
@font-face {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/Lexend/Lexend-Light.ttf");
}

@font-face {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/Lexend/Lexend-Regular.ttf");
}
@font-face {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/Lexend/Lexend-Medium.ttf");
}
@font-face {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/Lexend/Lexend-Bold.ttf");
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/Raleway/raleway-v36-latin_latin-ext-regular.woff2");
}